/src/Storm.Application/obj
/src/Storm.Application/bin
/src/Storm.Code/obj
/src/Storm.Code/bin
/src/Storm.Data/obj
/src/Storm.Data/bin
/src/Storm.Domain/obj
/src/Storm.Domain/bin
/src/Storm.Mapping/obj
/src/Storm.Mapping/bin
/src/Storm.MySqlRepository/bin
/src/Storm.MySqlRepository/obj
/src/Storm.RepositoryFactory/obj
/src/Storm.RepositoryFactory/bin
/src/Storm.SqlServerRepository/obj
/src/Storm.SqlServerRepository/bin
/src/Storm.Web/obj
/src/Storm.Web/bin
