@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">测试表单</th>
                <td class="formValue">
                    <input id="FullName" name="FullName" value="测试表单" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </div>
</form>
