@{
    ViewBag.Title = "流程设计";
    Layout = "~/Views/Shared/_GooFlow.cshtml";
}
<style type="text/css">
    .myForm {
        overflow-y: auto;
    }

    .dvNodes {
        width: 100%;
    }

    .dvLines {
        width: 100%;
    }

    .btnflow {
        width: 100%;
        height: 30px;
        background-color: #eee !important;
        color: black !important;
        font-size: 14px !important;
        border: none !important;
        border-bottom: 1px solid #808080 !important;
    }

    .dvflowcontent {
        width: 100%;
    }

        .dvflowcontent table {
            width: 100%;
        }

            .dvflowcontent table tr td {
                border: 1px solid #ccc;
            }

                .dvflowcontent table tr td input {
                    width: 100%;
                }

    .th {
        text-align: right;
    }
</style>
<script type="text/javascript">

    var keyValue = $.request("keyValue");
    var property = {
        width: 1200,
        height: 600,
        toolBtns: ["start round", "end round", "task"],
        haveHead: true,
        headBtns: ["undo", "redo", "reload"],//如果haveHead=true，则定义HEAD区的按钮
        haveTool: true,
        haveGroup: true,
        useOperStack: true,
        headLabel: "流程绘制"
    };
    var remark = {
        cursor: "选择指针",
        direct: "结点连线",
        start: "入口结点",
        end: "结束结点",
        task: "任务结点",
        group: "组织划分框"
    };
    var myflowdesign;
    $(document).ready(function () {
        var heights = $(window).height();
        var widths = $(window).width();
        $("#propertyForm").height(heights);
        property.width = widths - 310;
        property.height = heights;
        myflowdesign = $.createGooFlow($("#myFlow"), property);
        myflowdesign.setTitle("流程绘制");
        myflowdesign.setNodeRemarks(remark);
        myflowdesign.onItemFocus = function (id, model) {
            var obj;
            $("#ele_model").val(model);
            $("#ele_id").val(id);
            initpro(model);
            if (model == "line") {
                obj = this.$lineData[id];
                $("#ele_type").val(obj.M);
                $("#ele_left").val("");
                $("#ele_top").val("");
                $("#ele_width").val("");
                $("#ele_height").val("");
                $("#ele_from").val(obj.from);
                $("#ele_to").val(obj.to);
            } else if (model == "node") {
                obj = this.$nodeData[id];
                $("#ele_type").val(obj.type);
                $("#ele_left").val(obj.left);
                $("#ele_top").val(obj.top);
                $("#ele_width").val(obj.width);
                $("#ele_height").val(obj.height);
                $("#ele_from").val("");
                $("#ele_to").val("");
            }
            $("#ele_name").val(obj.name);
            return true;
        };

        myflowdesign.onItemAdd = function (id, type, json) {
            if (json.type == "start round") {
                json.name = "开始";
            }
            if (json.type == "end round") {
                json.name = "结束";
            }
            if (!IsHasType(json.type)) {
                return true;
            } else {
                alert("只能有一个此类型节点！");
                return false;
            }
        }
        if (!!keyValue) {
            $.ajax({
                url: "/WFManage/Flow/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Codes != null && data.Codes != undefined && data.Codes != "") {
                        var codes = JSON.parse(data.Codes);
                        myflowdesign.loadData(codes);
                    }
                }
            });
        }
    });
    function IsHasType(type) {
        var isHas = false;
        var types = ["start round", "end round"];
        if ($.inArray(type, types) >= 0) {
            var datas = myflowdesign.exportData();
            for (var item in datas.nodes) {
                if (datas.nodes[item].type == type) {
                    isHas = true;
                }
            }
        }
        return isHas;
    }
    function submitForm() {
        var codes = JSON.stringify(myflowdesign.exportData());
        $.submitForm({
            url: "/WFManage/Flow/SaveDesign",
            param: { keyValue: keyValue, codes: codes },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
    function initpro(type) {
        if (type == "line") {
            $(".dvLines").css("display", "");//隐藏div
            $(".dvNodes").attr("style", "display:none;");//隐藏div
        } else if (type == "node") {
            $(".dvLines").css("display", "none");//隐藏div
            $(".dvNodes").attr("style", "display:;");//隐藏div
        }
    }

</script>
<form class="myForm" id="propertyForm">
    <div class="dvNodes" style="display:none;">
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvattr">
            节点属性
        </button>
        <div id="dvattr" class="collapse in dvflowcontent">
            <table>

                <tr><td class="th">Id：</td><td><input type="text" id="ele_id" /></td></tr>
                <tr><td class="th">Id：</td><td><input type="text" id="ele_id" /></td></tr>
                <tr><td class="th">Name：</td><td><input type="text" id="ele_name" /></td></tr>
                <tr><td class="th">Type：</td><td><input type="text" id="ele_type" /></td></tr>
                <tr><td class="th">Model：</td><td><input type="text" id="ele_model" /></td></tr>
                <tr><td class="th">Left-r：</td><td><input type="text" id="ele_left" /></td></tr>
                <tr><td class="th">Top-r：</td><td><input type="text" id="ele_top" /></td></tr>
                <tr><td class="th">Width：</td><td><input type="text" id="ele_width" /></td></tr>
                <tr><td class="th">Height：</td><td><input type="text" id="ele_height" /></td></tr>
                <tr><td class="th">From：</td><td><input type="text" id="ele_from" /></td></tr>
                <tr><td class="th">To：</td><td><input type="text" id="ele_to" /></td></tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvstep">
            步骤设置
        </button>
        <div id="dvstep" class="collapse in dvflowcontent">
            <table>
                <tr><td class="th">步骤类型：</td><td><input type="text" id="ele_id" /></td></tr>
                <tr><td class="th">退回方式：</td><td><input type="text" id="ele_id" /></td></tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvpeople">
            审核人设置
        </button>
        <div id="dvpeople" class="collapse in dvflowcontent">
            <table>
                <tr><td class="th">参与者类型：</td><td><input type="text" id="ele_id" /></td></tr>
                <tr><td class="th">参与者：</td><td><input type="text" id="ele_id" /></td></tr>
                <tr><td class="th">响应方式：</td><td><input type="text" id="ele_name" /></td></tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvturndown">
            驳回设置
        </button>
        <div id="dvturndown" class="collapse in dvflowcontent">
            <table>
                <tr><td class="th">驳回方式：</td><td><input type="text" id="ele_id" /></td></tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvmsg">
            消息提醒
        </button>
        <div id="dvmsg" class="collapse in dvflowcontent">
            <table>
                <tr><td class="th">提醒方式：</td><td><input type="text" id="ele_id" /></td></tr>
            </table>
        </div>
    </div>
    <div class="dvLines" style="display:none;">
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#demo1">
            连接属性
        </button>
        <div id="demo1" class="collapse in dvflowcontent">
            <table>
                <tr><td class="th">Id：</td><td><input type="text" id="ele_id" /></td></tr>
                <tr><td class="th">Name：</td><td><input type="text" id="ele_name" /></td></tr>
                <tr><td class="th">Type：</td><td><input type="text" id="ele_type" /></td></tr>
                <tr><td class="th">Model：</td><td><input type="text" id="ele_model" /></td></tr>
                <tr><td class="th">Left-r：</td><td><input type="text" id="ele_left" /></td></tr>
                <tr><td class="th">Top-r：</td><td><input type="text" id="ele_top" /></td></tr>
                <tr><td class="th">Width：</td><td><input type="text" id="ele_width" /></td></tr>
                <tr><td class="th">Height：</td><td><input type="text" id="ele_height" /></td></tr>
                <tr><td class="th">From：</td><td><input type="text" id="ele_from" /></td></tr>
                <tr><td class="th">To：</td><td><input type="text" id="ele_to" /></td></tr>
            </table>
        </div>
    </div>
</form>
<div id="myFlow"></div>